<!-- {% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Textbook Listing</h1>
      <p class="lead">This website allows you to sell and buy textbooks.</p>
    </div>
</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/testapp/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="post">Create a Listing<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="classsubject">Search for Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="post_search">Search for Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="favorites">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">Profile</a>
                </li>
            </ul>-->
            <!--<ul class="navbar-nav ms-auto">
                <form class="form-inline">
                    <input class="form-control" id="anythingSearch" type="text" placeholder="Search" aria-label="Search">
                </form>
            </ul> -->
        <!-- </div>
    </div>
</nav>
<hr>
<br/> -->

{% include "testapp/header.html" %}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-6">Search for a post here:</h1>
      <p>Queries include: department, course number, post title, text, etc.</p>
    </div>
</div>

<div class="container text-center">
    <form method="GET" action="{%url 'testapp:search' %}">
        <input name="q" value="{{request.GET.q}}" class="form-control mx-sm-3" id="anythingSearch" type="text" placeholder="CS" aria-label="Search">
        <div></div>
        <div class="container">
            <h1></h1>
            <button type="submit" class="btn btn-primary">Submit </button>
        </div>
</form>
</div>

<div class="container-fluid d-flex align-items-center justify-content-center">
    <!-- <div class="card-deck"> -->
            {% if post_list %}
                <div class="card-group">
                    <ul style="list-style: none;">
                        {% for post in post_list %}
                            <li>
                                <div class="card text-white bg-dark mb-3" style="max-width: 40rem;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">{{post.post_title}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{post.associated_dept}} {{post.course_id}}</h6>
                                        {% if post.post_creator %}
                                            <h6 class="card-subtitle mb-2 text-muted">{{post.post_creator.username}}</h6>
                                        {% endif %}
                                        <p class="card-text">{{post.post_text}}</p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated {{post.pub_date}}</small></p> -->
                                        <!-- <a href="#" class="card-link">Card link</a> -->
                                        <!-- <a href="#" class="card-link">Another link</a> -->
                                        <!-- <div class="col"> -->
                                        <!-- <h4>{{post.post_title}} {{post.associated_dept}}</h4> -->
                                        <!-- <p class="lead"> {{post.post_text}}</p> -->
                                        <!-- <p>{{post.pub_date}}</p> -->
                                        <!-- <div class="form-check" style="width:auto;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Interested?</label>
            </div> -->
                                        <!-- <hr> -->
                                        
                                    </div>
                                    <div class="card-footer">
                                        <div class="col text-center">
                                            {% if user in post.favorite.all %}
                                            <form method='POST' action="{% url 'testapp:remove_favorite_from_search' post.id %}">
                                                {% csrf_token %}
                                                <input type='hidden' name='post' value={{ post.id }}>
                                                <button type='submit' class = "btn btn-danger btn-sm button-center">Unfavorite</button>
                                            </form>
                                            {% else %}
                                            <form method='POST' action="{% url 'testapp:favorite_post_from_search' post.id %}">
                                                {% csrf_token %}
                                                <input type='hidden' name='post' value={{ post.id }}>
                                                <button type='submit' class = "btn btn-primary btn-sm button-center">Favorite</button>
                                            </form>
                                            {% endif %}
                                            
                                        {% if post.favorite.count == 1%}
                                        <p class="card-text">{{post.favorite.count}} favorite</p>
                                        {% else %}
                                        <p class="card-text">{{post.favorite.count}} favorites</p>
                                        {% endif %}
                                        </div>
                                        <small class="text-muted">Last updated {{post.pub_date}}</small>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p>No posts are available for your search of "{{request.GET.q}}", or you haven't searched for something yet. Try above.</p>
            {% endif %}
    </div>